.trip-table{
    width:80%;
    margin: auto;
    border-collapse: collapse;
}

.trip-table th{
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.trip-table td{
    padding: 10px;
    border: 1px solid black;
    background-color: #f2f2f2;
}
